# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/package-lock.json
/dist/js/
/node_modules/
/.idea/
/dist.zip
/1.json
/codex.patch
/4.json
/3.json
/2.json
/test.html
/tests/
/src/server/package-lock.json
/local_app/TweetCatAppMac/TweetCatApp.xcodeproj/xcuserdata/
/local_app/TweetCatAppMac/TweetCatApp.xcodeproj/project.xcworkspace/
/local_app/TweetCatAppMac/TweetCatApp/Resources/
/local_app/lib_prepare/ffmpeg-darwin-arm64
/local_app/lib_prepare/ffmpeg-darwin-x64
/local_app/lib_prepare/ffprobe-darwin-arm64
/local_app/lib_prepare/ffprobe-darwin-x64
/local_app/lib_prepare/ffprobe
/local_app/lib_prepare/ffmpeg
/local_app/lib_prepare/TweetCatApp/
/local_app/lib_prepare/TweetCatApp.dmg
/local_app/lib_prepare/TweetCatApp.notary.log
